@model SuperShop.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div>

    <partial name="_DetailsDelete" />

</div>

<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
