
@{
    ViewData["Title"] = "ProductNotFound";
}

<h1>Product not found!</h1>

<div>
    <img style="width: 70vh; margin-top: 11vh" src="https://http.dog/404.jpg" class="img-fluid mx-auto d-block" />
</div>
